<launch>
  <arg name="serial_port" />
  <arg name="frame_id" default="leptrino" />
  <arg name="pub_rate" default="0.0" />
  <arg name="pub_queue_size" default="1" />
  <arg name="zero_wrench_on_start" default="false" />
  <node pkg="leptrino_force_torque_ros_driver" type="leptrino_force_torque_ros_driver" name="leptrino" output="screen">
    <param name="serial_port" type="str" value="$(arg serial_port)" />
    <param name="frame_id" type="str" value="$(arg frame_id)" />
    <param name="pub_rate" type="double" value="$(arg pub_rate)" />
    <param name="pub_queue_size" type="int" value="$(arg pub_queue_size)" />
    <param name="zero_wrench_on_start" type="bool" value="$(arg zero_wrench_on_start)" />
  </node>
</launch>
